@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nanum+Gothic+Coding:wght@400;700&family=Playwrite+IT+Moderna:wght@100..400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #ffffff; /* Light theme background */
}

/* Dark theme variables */
.dark-theme {
  --background-color: #07080b; /* Dark theme background */
}

body {
  background-color: var(--background-color); /* Black background */
  margin: 0;
  padding: 0;
  height: 100%; /* Full viewport height */
}
